<h3>Boards</h3>
<div class="row">
    <div ng-repeat="board in boards">
        <!-- NG-REPEAT GOES HERE -->
        <div class="clearfix" ng-if="$index % 3 == 0"></div>
        <div class="col-sm-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><a ng-href="#!/pins/view/{{board.boardId}}">{{board.title}}</a></h3>
                </div>
                <div class="panel-body">
                    <!-- board image will go here -->
                </div>
            </div>
        </div>
    </div>
 </div>
