<div class="col-sm-4">
    <h3 ng-if="isOwner">My Boards</h3>
    <h3 ng-if="!isOwner">{{ownerUsername}}'s Boards</h3>
</div>
<div class="col-sm-2 col-sm-offset-6 btn-right" ng-if="isOwner">
    <h3>
        <button uib-popover-template="createNewBoardPopover.templateUrl" popover-title="What should we call it?" type="button" class="btn btn-default">New Board</button>
        <script type="text/ng-template" id="newBoardPopover.html">
            <div class="form-group">
                <form>
                    <input type="text" ng-model="createNewBoardPopover.userTitle" class="form-control" ng-keyup="$event.keyCode == 13 && addBoard()">
                </form>
            </div>
        </script>
    </h3>
</div>
<div class="row">
    <div ng-repeat="board in boards | filter: {title: searchText}">
        <div class="clearfix" ng-if="$index % 3 == 0"></div>
        <div class="col-sm-4">
            <div class="panel panel-default">
                <div class="panel-heading panel-edit">
                    <h2 class="panel-title" ng-show="!editing">
                        <a ng-href="#!/boards/{{board.uid}}/pins/{{board.boardId}}">
                            {{board.title}}
                        </a>
                        <div class="pull-right" ng-show="isOwner">
                            <button class="btn btn-sm btn-info edit-btn" ng-click="editing = true;">
                                <i class="fa fa-pencil"></i>
                            </button>
                        </div>
                    </h2>
                    <div ng-show="editing">
                        <input ng-model="board.title" type="text">
                        <div class="pull-right">
                            <button class="btn btn-sm btn-success" ng-click="editing = false; changeBoard(board.boardId, board.title)">
                                <i class=" fa fa-save"></i>
                            </button>
                        <button class="btn btn-sm btn-danger" ng-click="deleteBoard(board.boardId)"><i class="fa fa-trash"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>