<nav class="navbar navbar-default pin-nav">
    <div class="container center">
        <div class="row">
            <div class="logo-box col-md-4"></div>
            <div class="logo-box col-md-4">
                <p class="logo">Pin Stuff</p>
            </div>
            <div class="logo-box col-md-4">
            </div>
        </div>
    </div>
</nav>
<div class="input-field container">
    <div class="row">
        <div class="col-md-6 col-xs-12">
            <div class="input-group inputs">
                <span class="input-group-btn">
          <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                </span>
                <input type="text" class="form-control search" placeholder="Search for...">
            </div>
            <!-- /input-group -->
        </div>
        <!-- /.col-lg-6 -->
        <div class="filters col-md-6 col-xs-12">
            <ul>
                <li><a>Pin +</a></li>
                <li><a href="#!/my-boards">Boards</a></li>
                <li><a href="#!/logout">Logout</a></li>
            </ul>
            <!--         <label class="radio-inline"><input type="radio" name="optradio">Option 1</label>
        <label class="radio-inline"><input type="radio" name="optradio">Option 2</label>
        <label class="radio-inline"><input type="radio" name="optradio">Option 3</label> -->
        </div>
    </div>
    <!-- /.row -->
    <!--   <div class="filters"><p>H</p></div> -->
</div>
<!-- <div class="box-container container">
        <div class="box row">
            <p>Yay</p>
        </div>
    </div> -->
