<nav class="navbar navbar-default top-header">
    <div class="container center">
        <div class="row">
            <div class="logo-box col-md-4"></div>
            <div class="logo-box col-md-4">
                <p class="logo">Pin Stuff</p>
            </div>
            <div class="logo-box col-md-4">
            </div>
        </div>
    </div>
</nav>
<div class="input-field container">
    <div class="row">
        <div class="col-md-6 col-xs-12">
            <div class="input-group inputs">
                <span class="input-group-btn" ng-if="user.uid">
          <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                </span>
                <input type="text" class="form-control search" ng-model="searchText" placeholder="Search for..." ng-if="user.uid">
            </div>
            <!-- /input-group -->
        </div>
        <!-- /.col-lg-6 -->
        <div class="col-md-6 col-xs-12">
            <ul class="nav-list" ng-if="user.uid">
                <li class="nav-list__item"><a ng-href="#!/boards/{{user.uid}}">My Boards</a></li>
                <li class="nav-list__item"><a ng-href="#!/user-list">Other Boards</a></li>
                <li class="nav-list__item"><a ng-href="#!/logout">Logout</a></li>
            </ul>
            <ul class="nav-list" ng-if="!user.uid">
                <li class="nav-list__item"><a href="#!/auth">Login Page</a></li>
            </ul>
        </div>
    </div>
</div>
