<h3>Pins</h3>
<button class="btn btn-warning"><a ng-href="#!/pin/new/{{boardId}}">New pin</a></button>

<div class="row">
    <div ng-repeat="pin in pins">
        <!-- NG-REPEAT GOES HERE -->
        <div class="clearfix" ng-if="$index % 3 == 0"></div>
        <div class="col-sm-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">{{pin.title}}</h3>
                </div>
                <div class="panel-body">
                    <img class="img-responsive" src="{{pin.imageUrl}}" alt="{{pin.title}}">
                </div>
                <button class="btn btn-sm btn-info"><i class=" fa fa-pencil"></i><a ng-href="#!/pin/new/:id{{xxx.id}}">Edit</a></button>
                <button class="btn btn-sm btn-danger" ng-click="deleteBoard(board.boardId)"><i class="fa fa-trash"></i></button>
            </div>
        </div>
    </div>
</div>
