<h3>New Pin</h3>
<form>
  <div class="form-group">
    <label>title</label>
    <input type="text" class="form-control" placeholder="pin title" ng-model="newPin.title" />
    </div>
    <div class="form-group">
    <label>Url</label>
    <input type="url" class="form-control" placeholder="Url" ng-model="newPin.url" ng-required="required" />
    </div>
    <div class="form-group">
    <label>Image Url</label>
    <input type="text" class="form-control" placeholder="Image Url" ng-model="newPin.imageUrl" />
    </div> 

    <button class="btn btn-default" ng-click="addNewPin()">Submit</button>
</form>