body {
  margin: 0;
  background-color: lightgray; }

.top-header {
  width: 100%;
  height: 16vh;
  min-height: 65px;
  margin: 0;
  background-color: #931A1A;
  background-size: cover;
  border: none;
  border-radius: 0px; }

.logo-box {
  margin-right: 0px; }

.logo {
  font-family: 'Yellowtail', cursive;
  font-size: 8vh;
  color: white;
  padding: 2vh;
  margin-right: 0px; }

.input-field {
  width: 100%;
  padding: 0;
  background-color: white; }

.inputs {
  margin: 5px 0px; }
  .inputs button {
    border: none; }
  .inputs .search {
    border: none;
    box-shadow: none; }

.nav-list {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 3px 0 0 0; }
  .nav-list__item {
    display: inline;
    list-style-type: none;
    text-decoration: none; }
    .nav-list__item a {
      color: #931A1A;
      font-weight: bold; }

.view-box {
  padding-top: 5%; }

.box-container {
  background-color: gray;
  margin: 2%;
  padding: 0;
  width: 100%; }

.box {
  margin: 2%;
  height: 100%; }

.col-md-4 {
  text-align: center; }

.center {
  margin: 0;
  width: 100%; }

.auth-box {
  margin-top: 10%;
  border: 1px solid gray;
  padding: 60px;
  background-color: white;
  border-radius: 3px; }
  .auth-box input {
    margin: 3px; }
  .auth-box a {
    border-radius: 0px; }

.alert-danger {
  text-align: center; }

.btn-right {
  text-align: right;
  padding: 0; }
  .btn-right a {
    color: white; }

.btn-new button {
  background-color: #931A1A;
  color: white; }
  .btn-new button:hover, .btn-new button:active, .btn-new button:visited {
    background-color: #931A1A;
    color: white; }

.glyph-inverse, .glyph-inverse a {
  color: #fff; }

.panel-edit {
  padding: 20px; }

.edit-btn {
  margin: 0; }

.btn-margin {
  margin: 0px 5px; }

.new-pin-btn, .new-pin-btn:hover, .new-pin-btn:link, .new-pin-btn:focus {
  text-decoration: inherit;
  color: inherit; }

main.ng-enter {
  transition: 0.3s linear all;
  opacity: 0; }

main.ng-enter.ng-enter-active {
  opacity: 1; }

allUsers.user-in-list.ng-enter {
  transition: 0.3s linear all;
  opacity: 0;
  transform: translateY(30px); }

allUsers.user-in-list.ng-enter.ng-enter-active {
  opacity: 1;
  transform: translateY(0); }
